name: Test script

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Make script executable
        run: chmod +x crontab-manager.sh

      - name: Check syntax with shellcheck
        uses: ludeeus/action-shellcheck@master
        with:
          scandir: './'

      - name: Run script (simulate exit)
        run: echo "0" | sudo bash crontab-manager.sh
